<div class="container">
    <% items.forEach(function(item){ %>
    <div class="col-xs-6 col-sm-4">
        <h1><%=item.displayname%></h1>
        <p>ID:<%=item.id%></p>
        <p>Name:<%=item.name.slice("item_".length)%></p>
        <img src="<%=item.image%>" alt="<%=item.displayname%>"/>
    </div>
    <%})%>
</div>