<div class="container">
    <ul class="list-group">

        <% items.forEach(function(item){%>
            <li class="list-group-item">
                    <img src="<%=item.image%>" alt=""/>
                    <p><%=item.name%></p>

                    	<table class="table table-bordered">
                    		<thead>
                            <tr>
                            <%
                            var values=[];

                            _.forOwn(item.roleweight,function(value,key){
                                if(key==='id'||key==='createdAt'||key==='updatedAt'||key==='name'){
                                    return;
                                }
                                values.push(value);
                            %>

                    				<th><%=key%></th>

                            <%});%>
                            </tr>
                    		</thead>
                    		<tbody>
                            <tr>
                            <%_.each(values,function(val){%>

                    				<td><%=val%></td>

                            <%});%>
                            </tr>
                            </tbody>
                    	</table>


            </li>
        <%});%>
    </ul>

</div>
<div class="container">
    <% items.forEach(function(item){ %>
    <div class="col-xs-6 col-sm-4">
        <h1><%=item.displayname%></h1>
        <p>ID: <%=item.id%></p>
        <p>Gold: <%=item.cost%></p>
        <p>Name: <%=item.name%></p>

        <img src="<%=item.image%>" alt="<%=item.displayname%>"/>
    </div>
    <%});%>

</div>