

<div class="container">
    <h3>Match <%=match.match_id%></h3>
    <h2><%=details.radiant_win ?"Radiant":"Dire" %> Victory</h2>

    <p>Started: <%=moment(match.start_time).fromNow()%></p>
    <p>Duration: <%=moment.duration(details.duration,'s').humanize()%></p>
    <p>First Blood: <%=moment.duration(details.first_blood_time,'s').humanize()%> </p>
     <% var teams={radiant:[],dire:[]}
     _.each(playerdetails,function(playerdetail){
             if(playerdetail.radiant){
                 teams.radiant.push(playerdetail)
             }else{
                 teams.dire.push(playerdetail)
             }
             })%>

    <%_.forOwn(teams,function(value,key){%>
    <h2><%=key%> Team</h2>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th></th>
    			<th>Name</th>
    			<th></th>
    			<th>Hero</th>
    			<th>Items</th>
    			<th>Level</th>
    			<th>Kills</th>
    			<th>Deaths</th>
    			<th>Assists</th>
    			<th>Last Hits</th>
    			<th>Denies</th>
    			<th>GPM</th>
    			<th>XPM</th>
    		</tr>
    	</thead>
    	<tbody>
        <%_.each(value,function(d){%>
    		<tr>
                <%if(!d.player.anonymous){%>
    			<td><img src="<%=d.player.avatar%>" class="img-thumbnail" alt="<%=d.player.username%>"/></td>
    			<td><%=d.player.username%></td>
                <%}else{%>
                <td><span class="glyphicon glyphicon-user" style="vertical-align:middle; font-size: 1.7em"></span></td>
                <td>Anonymous</td>
                <%}%>
    			<td><img src="<%=d.hero.image%>" class="img-thumbnail" alt="<%=d.hero.displayname%>"/></td>
    			<td><%=d.hero.displayname%></td>
                <td> <%_.each(d.items,function(item){
                            if(item){%>
                    <img src="<%=item.image%>" class="img-thumbnail" style="width:3em;" alt="<%=item.displayname%>"/>

                    <%}})%></td>
    			<td><%=d.level%></td>
    			<td><%=d.kills%></td>
    			<td><%=d.deaths%></td>
    			<td><%=d.assists%></td>
    			<td><%=d.last_hits%></td>
    			<td><%=d.denies%></td>
    			<td><%=d.gpm%></td>
    			<td><%=d.xpm%></td>
    		</tr>
        <%})%>
    	</tbody>
    </table>
    <%});%>



</div>