<div class="container">
         <% heroes.forEach(function(hero){ %>
     <div class="col-xs-6 col-sm-4">
                  <h1><%=hero.displayname%></h1>
                  <p>ID:<%=hero.id%></p>
                  <p>Name:<%=hero.name.slice("npc_dota_hero_".length)%></p>
                  <img src="<%=hero.image%>" alt="<%=hero.name%>"/>
              </div>
         <%})%>
</div>